In [2]:
# Dependencies
import pandas as pd

In [2]:
# Create a Pandas Series from the following list of schools.
bootcamp_unis = ["UCLA", "UC Berkeley", "UC Irvine","University of Central Florida", "Rutgers University"]

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [3]:
# Convert the following list of dictionaries into a DataFrame.
movies_dicts = [{"Title": "The Godfather", "Year Released": 1972},
                {"Title": "The Shawshank Redemption", "Year Released": 1994},
                {"Title": "Pulp Fiction", "Year Released": 1994},
                {"Title": "The Lord of the Rings: The Return of the King", "Year Released": 2003}]

                                           Title  Year Released
0                                  The Godfather           1972
1                       The Shawshank Redemption           1994
2                                   Pulp Fiction           1994
3  The Lord of the Rings: The Return of the King           2003

In [4]:
# Edit the movie_dicts so that the the values for the "Title" and "Year Released" are list of movie titles and years.
#  Then, convert the dictionary of lists into a DataFrame.

                                           Title  Year Released
0                                  The Godfather           1972
1                       The Shawshank Redemption           1994
2                                   Pulp Fiction           1994
3  The Lord of the Rings: The Return of the King           2003

In [6]:
# Create a DataFrame using a dictionary of lists
designs_df = {
    "Frame": ["Ornate", "Classical", "Modern", "Wood", "Cardboard"],
    "Price": [15,12.5,10,5,1],
    "Sales": [100,200,150,300,None],
}
pictures_for_sale =pd.DataFrame(designs_df)
pictures_for_sale

       Frame  Price  Sales
0     Ornate   15.0  100.0
1  Classical   12.5  200.0
2     Modern   10.0  150.0
3       Wood    5.0  300.0
4  Cardboard    1.0    NaN

In [7]:
pictures_for_sale.isnull()

   Frame  Price  Sales
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False   True