In [2]:
import pandas as pd

In [6]:
# Mapping lets you format an entire DataFrame
format_path=os.path.join("Resources","sales_data.csv")
df=pd.read_csv(format_path)
df.head()

,Country,Item Type,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Tuvalu,Baby Food,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Grenada,Cereal,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Russia,Office Supplies,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sao Tome and Principe,Fruits,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Rwanda,Office Supplies,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [3]:
format_df.dtypes

Country           object
Item Type         object
Units Sold         int64
Unit Price       float64
Unit Cost        float64
Total Revenue    float64
Total Cost       float64
Total Profit     float64
dtype: object

In [7]:
df.columns

Index(['Country', 'Item Type', 'Units Sold', 'Unit Price', 'Unit Cost',
       'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [9]:
# Use map() to format:
# Units Sold with comma notation
# Unit Price, Unit Cost, Total Revenue, Total Cost, and Total Profit 
# with a dollar sign, comma notation, and to two decimal places.
df["Units Sold"]=df["Units Sold"].map("{:,}".format)
df["Unit Price"]=df["Unit Price"].map("${:,.2f}".format)
df["Unit Cost"]=df["Unit Cost"].map("${:,.2f}".format)
df["Total Revenue"]=df["Total Revenue"].map("${:,.2f}".format)
df["Total Cost"]=df["Total Cost"].map("${:,.2f}".format)
df["Total Profit"]=df["Total Profit"].map("${:,.2f}".format)

ValueError: Cannot specify ',' with 's'.

In [6]:
# Mapping has changed the datatypes of the columns to strings
format_df.dtypes

Country          object
Item Type        object
Units Sold       object
Unit Price       object
Unit Cost        object
Total Revenue    object
Total Cost       object
Total Profit     object
dtype: object